{%extends 'base.html'%}

{%block title%} Welcome to BlogChain {%endblock%}

{%block content %}

<div class="container-custom">

    <h3>{{cat.title}}</h3>
    <div class = "img-container">
        <img src="/media/{{cat.image}}" class="responsive-img"  style="max-height:250px;  object-fit:cover;" alt="">
    </div>
    <ul class="collection">

        {%for p in posts %}
        <a href = "/Blog/{{p.url}}" class=" collection-item">{{p.title}}</a>
        {% empty %}
        <h5>NO posts in this category!!</h5>

        {%endfor%}
    </ul>
</div>

{%endblock%}
