<footer class="page-footer bg-primary">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">BlogChain: The Blog Reader App</h5>
                <p class="grey-text text-lighten-4">This web application was built for the Regex Software Services as a Django Project</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
             <p>****You can add Blog after 3 days of reading only****</p>
            © 2021 Puneet Soni
            <a class="grey-text text-lighten-4 right" href="#!">Happy Reading</a>
            </div>
          </div>
        </footer>
